.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
}

.container .sub-container {
  position: absolute;
  left: 35%;
  display: block;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 10px;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
  line-height: 1.34;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 24px;
  line-height: 28px;
  width: auto;
  font-weight: normal;
  margin-top: 10px;
  text-align: center;
}

.input-feild {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
}

.login-button {
  cursor: pointer;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
}

.link {
  text-align: center;
  display: block;
  font-size: 12px;
}

.create-button {
  background-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  padding-top: 6px;
  cursor: pointer;
}
