@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.container{
  position: absolute;
  height: 106px;
left: 40%;
font-family: 'Roboto', sans-serif;
font-size: 25px;
}

.container h1{
  color: #2c83f2;
  left: 30%;
}



.container .sub-container {
  position: absolute;
  left: 500px
  display: block;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 10px;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 396px;
  line-height: 1.34;

}
  
  
 

.input-feild {
  margin-bottom: 10px;
  padding: 100px
  border: 1px solid #dddfe2;
  color: #1d2129;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;}
  

.login-button {
  cursor: pointer;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
 
  margin-top: 300px;
  height: 48px;
  padding: 0 16px;
  width: 332px;
}

.link {
  text-align: center;
  display: block;
  font-size: 12px;
  margin-top: 300px;
}

.create-button {
  margin-top: 300px;
  background-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  padding-top: 6px;
  cursor: pointer;
}
 
  
      

 
 

  
  
  
 
  




