button{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid yellow;
    background-color: yellow;
    color: brown;
    text-shadow: 1px 1px 2px rgb(29, 120, 145);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
    
}